<h1>New Schedule</h1>
<%= form_for @schedule, url: {action: "create",controller: "schedules", userID: @userID} do |f| %>
	<p>
		<%=f.label :title %><br />
		<%=f.text_field :title %><br />
	</p>
	<p>
		<%=f.label :category %><br />
		<%=f.text_field :category %><br />
	</p>
	<p>
		<%=f.label :date %><br />
		<%=f.text_field :date %><br />
	</p>
	<p>
		<%=f.label :star %><br />
		<%=f.text_field :star %><br />
	</p>
		<p>
		<%=f.label :note %><br />
		<%=f.text_field :note %><br />
	</p>
	
	<p>
		<%= f.submit "Add Schedule" %>
	</p>
<% end %>
<%= link_to "Go Back", schedules_index_path(:userID => @userID) %>
