<h1>New User</h1>
<%= form_for @user, url: {action: "create",controller: "users"} do |f| %>
	<p>
		<%=f.label :name %><br />
		<%=f.text_field :name %><br />
	</p>
	<p>
		<%=f.label :email %><br />
		<%=f.text_field :email %><br />
	</p>
	<p>
		<%=f.label :password %><br />
		<%=f.text_field :password %><br />
	</p>
	<p>
		<%=f.label :scheduleID %><br />
		<%=f.text_field :scheduleID %><br />
	</p>
	<p>
		<%= f.submit "Add User" %>
	</p>
<% end %>
<%= link_to "Go Back", users_path %>