<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<p><%= @user.password %></p>
<p><%= @user.scheduleID %></p>

<h3><%= link_to "Delete", controller: "users", action: "delete", id: @user.id %></h3>