
<h1><%= @user.name %></h1>
<p>email: <%= @user.email %></p>
<p>password: <%= @user.password %></p>



<h3><%= link_to "Schedule", schedules_index_path(:userID => @user.id) %></h3>
<h3><%= link_to "Delete", controller: "users", action: "delete", id: @user.id %></h3>
<%= link_to "Go Back", controller: "users", action: "index" %>